body {
  overflow-y: hidden;
  overflow-x: auto;
  position: absolute;
  cursor: url('../medias/curseur_palmier.png'), pointer;
  width: 100%;
  height: 100%;
}

.titre {
  height: 15%;
  display: block;
  overflow: auto;
  position: fixed;
  text-align: center;
  width: 50%;
  top: 2%;
  left: 0px;
  margin-top: 0px;
  z-index: 1
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.logo {
  position: fixed;
  width: 7%;
  height: 10%;
  top: 2%;
  left: 90%;
  z-index: 1
}

#id1 {
  position: absolute;
  top: 20%;
}

img.moi {
  display: block;
  position: relative;
  width: 28%;
  z-index: 1;
}

.left {
  cursor: w-resize;
  position: fixed;
  height: 75%;
  width: 15%;
  left: 0%;
  bottom: 0;
  top: 13%;
  z-index: 1;
}

.right {
  cursor: e-resize;
  position: fixed;
  height: 75%;
  width: 15%;
  left: 85%;
  bottom: 0;
  top: 13%;
  z-index: 1;
}

.texte {
  font-family: 'Poppins_light';
  height: 75%;
  width: 70%;
  margin-top: 100px;
  margin-bottom: 15%;
  margin-left: 40px;
  overflow: scroll;
  z-index: -1
}

.about {
  position: fixed;
  width: 25%;
  height: 20%;
  top: 87.5%;
  left: 2%;
}

.contact {
  position: fixed;
  width: 25%;
  height: 20%;
  top: 87.5%;
  left: 74%;
}

.wallpaper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

@font-face {
  font-family: 'Poppins_light';
  src: url('../fonts/Poppins-Medium.ttf');
  format('opentype');
  text-rendering: optimizeLegibility;
}
