body {
  background-color: #fafafa;
  color: white;
  overflow-y: hidden;
  overflow-x: auto;
  position: absolute;
  cursor: url('../medias/curseur_palmier.png'), pointer;
  width: 100%;
  height: 100%;
}

.titre {
  height: 15%;
  display: block;
  overflow: auto;
  position: fixed;
  text-align: center;
  width: 50%;
  top: 2%;
  left: 0px;
  margin-top: 0px;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.logo {
  position: fixed;
  width: 7%;
  height: 10%;
  top: 2%;
  left: 90%;
}

.left {
  cursor: w-resize;
  position: fixed;
  height: 75%;
  width: 15%;
  left: 0%;
  bottom: 0;
  top: 13%;
  z-index: 1;
}

.right {
  cursor: e-resize;
  position: fixed;
  height: 75%;
  width: 15%;
  left: 85%;
  bottom: 0;
  top: 13%;
  z-index: 1;
}

.aliensbde {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 40px;
  bottom: 15%;
  overflow: auto;
}

img.aliensbde1 {
  height: auto;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
}

img.aliensbde2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

.aliensbdetexte {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 370px;
  bottom: 15%;
  overflow: auto;
}

.globalhello {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 510px;
  bottom: 15%;
  overflow: auto;
}

img.globalhello1 {
  height: auto;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
}

img.globalhello2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

img.globalhello3 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

img.globalhello4 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

.globalhellotexte {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 840px;
  bottom: 15%;
  overflow: auto;
}

.syndicat {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 980px;
  bottom: 15%;
  overflow: auto;
}

img.syndicat1 {
  height: auto;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
}

img.syndicat2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

.syndicattexte {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 1310px;
  bottom: 15%;
  overflow: auto;
}

.lantenois {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 1450px;
  bottom: 15%;
  overflow: auto;
}

img.lantenois {
  height: auto;
  position: relative;
  width: 320px;
  margin-top: 0%;
  left: 0;
  top: 0;
}

.lantenoistext {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 1780px;
  bottom: 15%;
  overflow: auto;
}

.hello {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 1920px;
  bottom: 15%;
  overflow: auto;
}

img.hello1 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

.hellotext {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 2250px;
  bottom: 15%;
  overflow: auto;
}

.georger {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 2390px;
  bottom: 15%;
  overflow: auto;
}

img.georger1 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

.georgertext {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 2720px;
  bottom: 15%;
  overflow: auto;
}

.jpo2018 {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 2860px;
  bottom: 15%;
  overflow: auto;
}

img.jpo20181 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

.jpo2018text {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 3190px;
  bottom: 15%;
  overflow: auto;
}

.introspection {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 3330px;
  bottom: 15%;
  overflow: auto;
}

img.intro1 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

img.intro2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

img.intro3 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

img.intro4 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

img.intro5 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

img.intro6 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

img.intro7 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

img.intro8 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

img.intro9 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

.introspectiontext {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 3660px;
  bottom: 15%;
  overflow: auto;
}

.workshopsophie {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 3800px;
  bottom: 15%;
  overflow: auto;
}

img.wksophie1 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

img.wksophie2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.wksophie3 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.wksophie4 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.wksophie5 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.wksophie6 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.wksophietext {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 4130px;
  bottom: 15%;
  overflow: auto;
}

<<<<<<< HEAD
=======

>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.iwish {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 4270px;
  bottom: 15%;
  overflow: auto;
}

img.iwish {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.iwishtext {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 4600px;
  bottom: 15%;
  overflow: auto;
}

.samo {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 4740px;
  bottom: 15%;
  overflow: auto;
}

img.samo1 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

img.samo2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.samo3 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.samo4 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.samo5 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.samo6 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.samo7 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.samo8 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.samo9 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.samo10 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.samotext {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 5070px;
  bottom: 15%;
  overflow: auto;
}

.powder {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 5210px;
  bottom: 15%;
  overflow: auto;
}

img.powder1 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.powder2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.powder3 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.powder4 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

<<<<<<< HEAD
=======

>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.powdertext {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 5540px;
  bottom: 15%;
  overflow: auto;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.rave {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 5680px;
  bottom: 15%;
  overflow: auto;
}

img.rave1 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.rave2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.rave3 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.rave4 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.rave5 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.rave6 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.rave7 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.rave8 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.ravetext {
  color: black;
  height: auto;
  position: absolute;
  display: block;
  font-family: 'Poppins_light';
  font-size: 9px;
<<<<<<< HEAD
  width: 110px;
=======
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 6010px;
  bottom: 15%;
  overflow: auto;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.disorder {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  top: 15%;
  left: 6150px;
  bottom: 15%;
  overflow: auto;
}

img.disorder1 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.disorder2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.disordertext {
  color: black;
  height: auto;
  position: absolute;
  display: block;
<<<<<<< HEAD
  padding-right: 40px;
  font-family: 'Poppins_light';
  font-size: 9px;
  width: 110px;
=======
  font-family: 'Poppins_light';
  font-size: 9px;
  width: 100px;
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
  top: 15%;
  left: 6480px;
  bottom: 15%;
  overflow: auto;
}

<<<<<<< HEAD
=======

>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.about {
  position: fixed;
  width: 25%;
  height: 20%;
  top: 87.5%;
  left: 2%;
}

.contact {
  position: fixed;
  width: 25%;
  height: 20%;
  top: 87.5%;
  left: 74%;
}

@font-face {
  font-family: 'Poppins_light';
  src: url('../fonts/Poppins-Medium.ttf');
  format('opentype');
<<<<<<< HEAD
  text-rendering: optimizeLegibility;
}
=======
  text-rendering: optimizeLegibility;}
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
