body {
  overflow-y: hidden;
  overflow-x: auto;
  position: absolute;
  cursor: url('../medias/curseur_palmier.png'), pointer;
  width: 100%;
  height: 100%;
}

.titre {
  height: 15%;
  display: block;
  overflow: auto;
  position: fixed;
  text-align: center;
  width: 50%;
  top: 2%;
  left: 0px;
  margin-top: 0px;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.logo {
  position: fixed;
  width: 7%;
  height: 10%;
  top: 2%;
  left: 90%;
}

<<<<<<< HEAD
.bestof {
  color: white;
 position: fixed;
 width: 35%;
 height: 97%;
 top: 2%;
 bottom: 2%;
 left: 49%;
 font-family: 'Poppins_light';
 font-size: 3vw;
 z-index: 1




}

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.left {
  cursor: w-resize;
  position: fixed;
  height: 75%;
  width: 15%;
  left: 0%;
  bottom: 0;
  top: 13%;
  z-index: 1;
}

.right {
  cursor: e-resize;
  position: fixed;
  height: 75%;
  width: 15%;
  left: 85%;
  bottom: 0;
  top: 13%;
  z-index: 1;
}

.comete {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 40px;
  bottom: 15%;
  overflow: auto;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.comete1 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.comete2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.comete3 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.comete4 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

.moon {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 400px;
  bottom: 15%;
  overflow: auto;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.moon1 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.moon2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

.kazantip {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 760px;
  bottom: 15%;
  overflow: auto;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.kazantip {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.extra {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 1120px;
  bottom: 15%;
  overflow: auto;
}
<<<<<<< HEAD

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
img.extra {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

<<<<<<< HEAD
.demarco {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 1480px;
  bottom: 15%;
  overflow: auto;
}

img.demarco {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

.subclub {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 1840px;
  bottom: 15%;
  overflow: auto;
}

img.subclub {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

.zungguzung {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 2200px;
  bottom: 15%;
  overflow: auto;
}

img.zungguzung {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

.vapewave {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 2560px;
  bottom: 15%;
  overflow: auto;
}

img.vapewave {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

.skidiki {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 2920px;
  bottom: 15%;
  overflow: auto;
}

img.skidiki {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

.thunderdome {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 3280px;
  bottom: 15%;
  overflow: auto;
}

img.thunderdome {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

.visualsong {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 3640px;
  bottom: 15%;
  overflow: auto;
}

img.visualsong1 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

img.visualsong2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

img.visualsong3 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

.escalier {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 4000px;
  bottom: 15%;
  overflow: auto;
}

img.escalier1 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}

img.escalier2 {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 10%;
  left: 0;
  top: 0;
}

.piscine {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding-right: 40px;
  top: 15%;
  left: 4360px;
  bottom: 15%;
  overflow: auto;
}

img.piscine {
  height: auto;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
}

=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.about {
  position: fixed;
  width: 25%;
  height: 20%;
  top: 87.5%;
  left: 2%;
}

.contact {
  position: fixed;
  width: 25%;
  height: 20%;
  top: 87.5%;
  left: 74%;
}

.wallpaper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
<<<<<<< HEAD
  z-index: -1;
}

=======
z-index: -1;
}
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
@font-face {
  font-family: 'Poppins_light';
  src: url('../fonts/Poppins-Medium.ttf');
  format('opentype');
<<<<<<< HEAD
  text-rendering: optimizeLegibility;
}
=======
  text-rendering: optimizeLegibility;}
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
