body {
  overflow-y: hidden;
  overflow-x: auto;
  position: absolute;
  cursor: url('../medias/curseur_palmier.png'), pointer;
  width: 100%;
  height: 100%;
}

.titre {
  height: 15%;
  display: block;
  overflow: auto;
  position: fixed;
  text-align: center;
  width: 50%;
  top: 2%;
  left: 0px;
  margin-top: 0px;
<<<<<<< HEAD
  z-index: 1
=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.logo {
  position: fixed;
  width: 7%;
  height: 10%;
  top: 2%;
  left: 90%;
<<<<<<< HEAD
  z-index: 1
}

#id1 {
  position: absolute;
  top: 20%;
}

img.moi {
  display: block;
  position: relative;
  width: 28%;
  z-index: 1;
=======
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
}

.left {
  cursor: w-resize;
  position: fixed;
  height: 75%;
  width: 15%;
  left: 0%;
  bottom: 0;
  top: 13%;
  z-index: 1;
}

.right {
  cursor: e-resize;
  position: fixed;
  height: 75%;
  width: 15%;
  left: 85%;
  bottom: 0;
  top: 13%;
  z-index: 1;
}

<<<<<<< HEAD
.texte {
  font-family: 'Poppins_light';
  height: 75%;
  width: 70%;
  margin-top: 13%;
  margin-bottom: 15%;
  margin-left: 40px;
  overflow: scroll;
  z-index: -1
}

=======
.moi {
  height: auto;
  position: absolute;
  display: block;
  width: 320px;
  padding: 0% 0%;
  top: 15%;
  left: 50%;
  bottom: 15%;
  overflow: auto;
}
img.moi {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 0%;
  left: 0;
  top: 0;
}


>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
.about {
  position: fixed;
  width: 25%;
  height: 20%;
  top: 87.5%;
  left: 2%;
}

.contact {
  position: fixed;
  width: 25%;
  height: 20%;
  top: 87.5%;
  left: 74%;
}

.wallpaper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
<<<<<<< HEAD
  z-index: -1;
}

=======
z-index: -1;
}
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
@font-face {
  font-family: 'Poppins_light';
  src: url('../fonts/Poppins-Medium.ttf');
  format('opentype');
<<<<<<< HEAD
  text-rendering: optimizeLegibility;
}
=======
  text-rendering: optimizeLegibility;}
>>>>>>> 3ffd324b592f5367f36f7eeeb54bbcfa9e8abe3c
